.drywall{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    gap: 50px;
    position: relative;
    background-color: var(--color--dark--blue);
}

.drywall-galery {
    width: 50%;
    height: 80%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; 
}

.swiper-container {
    width: 50%; 
    height: 80%;
}

.swiper-wrapper {
    display: flex;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color--blue)!important; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px; 
}

.drywall-text{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.drywall-text h1{
    font-size: 2rem;
    font-weight: 300;
    color: var(--color--white);
}

.drywall-text h1 b{
    font-weight: 500;
    color: var(--color--blue);
}

.drywall-text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    color: var(--color--white);
}

.drywall-text p b{
    font-weight: 500;
    color: var(--color--blue);
}

.drywall-text article{
    position: absolute;
    left: 0%;
    top: 10%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 40%;
    background-color: var(--color--white);
    border-radius: 5px;
    box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 0 5%;
    cursor: pointer;
    transition: all .2s ease;
}

.drywall-text article:hover{
    transform: scale(1.05);
}

.drywall-text article img{
    width: 60px;
    height: 100%;
    object-fit: contain;
}

.drywall-text article h2{
    font-size: .7rem;
    font-weight: 500;
    width: 70%;
}

.drywall-text button{
    padding: 10px 25px;
    background-color: var(--color--blue);
    color: var(--color--white);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all .2s ease;
    width: 45%;
}

.drywall-text button:hover{
    background-color: var(--color--black);
    color: var(--color--blue);
    border: 1px solid var(--color--blue);
    padding: 10px 30px;
    width: 47%;
}

.drywall-text div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.drywall-text div .drywall-products{
    border: 1px solid;
    color: var(--color--dark--blue);
    padding: 7.5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-radius: 10px;
    background-color: var(--color--white);
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease;
}

.drywall-text div .drywall-products:hover{
    border: 1px solid var(--color--blue);
    background-color: var(--color--white);
    color: var(--color--blue);
    font-weight: 500;
}

.custom-shape-divider-top-1733144192 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.custom-shape-divider-top-1733144192 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1733144192 .shape-fill {
    fill: #FFFFFF;
}
