.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    position: relative;
}

.footer div:nth-child(1){
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer div:nth-child(1) img{
    width: auto;
    height: 50%;
    object-fit: contain;
}

.footer div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    align-items: center;
}

.footer div:nth-child(2) p{
    font-weight: 500;
    color: var(--color--black); 
}

.footer div:nth-child(2) p a{
    color: var(--color--dark--blue);
}

.custom-shape-divider-top-1733147535 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1733147535 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1733147535 .shape-fill {
    fill: var(--color--dark--blue);
}
