.qualidades{
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.qualidade-title{
    font-size: 2rem;
    height: 10vh;
    font-weight: 500;
}

.qualidades-cards{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.qualidades-card{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: var(--color--black);
    border-radius: 10px;
    transition: all .2s ease;
    box-shadow: 0 0 5px #ff5b0080;
}

.qualidades-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.qualidades-card-icon{
    background-color: var(--color--white);
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: -50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color--black);
}

.qualidades-card-icon img{
    width: 80%;
    color: var(--color--orange);
}

.qualidades-card-text{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10px;
    flex-direction: column;
    color: var(--color--white);
}

.qualidades-card-text h2{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.qualidades-card-text p{
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
    width: 90%;
}

.qualidades-card-text button{
    padding: 10px 20px;
    background-color: var(--color--white);
    color: var(--color--black);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.qualidades-card-text button:hover{
    background-color: var(--color--blue);
    border: 1px solid var(--color--white);
    color: var(--color--white);
    padding: 12px 22px;
}

.qualidades-video{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;  
    width: 100%;
}

.qualidades-video-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.qualidades-video-text h2{
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
    line-height: 100%;
    color: var(--color--dark--blue);
}

.qualidades-video-text p{
    width: 90%;
    font-weight: 400;
    line-height: 120%;
}

.qualidades-video-text button{
    border: 1px solid var(--color--white);
    padding: 10px 20px;
    background-color: var(--color--dark--blue);
    border-radius: 5px;
    color: var(--color--white);
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
}

.qualidades-video-text button:hover{
    background-color: var(--color--black);
    padding: 10px 25px;
}

.qualidades-video-container{
    width: 50%;
    height: 70%;
}

.qualidades-video-container iframe{
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

@media(max-width: 768px){
    .qualidades{
        height: auto;
        padding: 10% 2.5%;
    }

    .qualidades-cards{
        flex-direction: column;
        height: auto;
        padding: 5% 0;
        gap: 80px;
    }

    .qualidades-card{
        width: 100%;
        height: 50vh;
    }

    .qualidades-card-text h2{
        font-size: 1.5rem;
        width: 100%;
    }

    .qualidades-card-text p {
        font-size: 1rem;
        width: 80%;
    }

    .qualidades-video{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .qualidades-video-text{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .qualidades-video-text h2{
        font-size: 1.5rem;
    }

    .qualidades-video-text p {
        font-size: 1rem;
        width: 95%;
        text-align: justify;
    }

    .qualidades-video-text button{
        width: 100%;
    }

    .qualidades-video-container{
        width: 100%;
        height: 25vh;
    }

}

@media (min-width: 769px) and (max-width: 1240px){
    .qualidades-card{
        height: 60vh;
    }

    .qualidades-card-text h2{
        font-size: 1.5rem;
    }

    .qualidades-card-text p{
        font-size: .9rem;
        width: 95%;
    }

    .qualidades-video{
        height: 80vh;
    }

    .qualidades-video-container{
        height: 45vh;
    }
}