.steelframe{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    gap: 50px;
}

.steelframe-galery {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; 
}

.swiper-container {
    width: 50%; 
    height: 80%;
}

.swiper-wrapper {
    display: flex;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    box-sizing: border-box;
}


.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}


.swiper-button-next,
.swiper-button-prev {
    color: var(--color--blue)!important; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px; 
}

.steelframe-text{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.steelframe-text h1{
    font-size: 2rem;
    font-weight: 500;
}

.steelframe-text h1 b{
    font-weight: 500;
    color: var(--color--blue);
}

.steelframe-text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    color: var(--color--black);
}

.steelframe-text p b{
    font-weight: 500;
    color: var(--color--dark--blue);
}

.steelframe-text article{
    position: absolute;
    left: 0%;
    top: 10%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 40%;
    background-color: var(--color--white);
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 0 5%;
    cursor: pointer;
    transition: all .2s ease;
}

.steelframe-text article:hover{
    transform: scale(1.05);
}

.steelframe-text article img{
    width: 60px;
    height: 100%;
    object-fit: contain;
}

.steelframe-text article h2{
    font-size: .7rem;
    font-weight: 500;
    width: 70%;
}

.steelframe-text button{
    padding: 10px 25px;
    background-color: var(--color--dark--blue);
    color: var(--color--white);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all .2s ease;
    width: 45%;
}

.steelframe-text button:hover{
    background-color: var(--color--black);
    color: var(--color--blue);
    border: 1px solid var(--color--blue);
    padding: 10px 30px;
    width: 47%;
}

.steelframe-text div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.steelframe-text div .steelframe-products{
    border: 1px solid;
    color: var(--color--black);
    padding: 7.5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-radius: 10px;
    background-color: var(--color--black);
    color: var(--color--white);
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease;
}

.steelframe-text div .steelframe-products:hover{
    border: 1px solid var(--color--blue);
    background-color: var(--color--white);
    color: var(--color--blue);
    font-weight: 500;
}

@media (max-width: 768px){
    .steelframe{
        flex-direction: column;
        height: auto;
        padding: 10% 2.5%;
    }

    .steelframe-galery{
        width: 100%!important;
        height: 50vh!important;
    }

    .swiper-container{
        width: 100%!important;
        height: 60vh!important;
    }

    .swiper-button-next,
    .swiper-button-prev{
        width: 50px!important;
        height: 50px!important;
    }

    .steelframe-text {
        width: 100%;
        align-items: center;
    }

    .steelframe-text h1{
        text-align: center;
    }

    .steelframe-text p{
        text-align: center;
    }

    .steelframe-text article{
        display: none;
    }

    .steelframe-text div{
        justify-content: center;
    }

    .steelframe-text button{
        width: 100%;
    }

    .steelframe-text button:hover{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1240px){
    .steelframe-text button{
        width: 60%;
    }

    .steelframe-text button:hover{
        width: 65%;
    }

    .steelframe-text article{
        display: none;
    }
}